<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a [routerLink]="['/blog/crear']" class="btn btn-success">Crear artículo</a>
    </div>

    <div id="search" class="sidebar-item">
            <h3>Buscador</h3>
            <p>Encuentra el artículo que buscas</p>
            <form #searchForm="ngForm" (ngSubmit)="goSearch()">
                <input type="text" name="search" [(ngModel)]="searchString" />
                <input type="submit" name="submit" value="Buscar" class="btn" />
            </form>
    </div>

    <div id="search" class="sidebar-item">
        <h3> Contacto </h3>
        <p>Si quieres saber mas de mí</p>
        <a href="https://github.com/Emocrat3" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/arthurogomez/"  target="_blank"><i class="fa fa-linkedin-square"></i></a>
    </div>
</aside>

<div class="clearfix"></div>
